.joystick-area {
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  width: 40%;
  height: 500px;
}

.joystick-spacing {
  width: 30%;
  height: 100px;
}

.joystick-area > .hint {
  font-size: 28pt;
  color: rgb(255, 255, 255);
}

.float-left {
  float: left;
}
